<!DOCTYPE html>
<!--[if IE 8 ]><html class="no-js oldie ie8" lang="en"> <![endif]-->
<!--[if IE 9 ]><html class="no-js oldie ie9" lang="en"> <![endif]-->
<!--[if (gte IE 9)|!(IE)]><!--><html class="no-js" lang="en"> <!--<![endif]-->
<head>

   <!--- basic page needs
   ================================================== -->
   <meta charset="utf-8">
	<title>Error - UAB</title>
	<meta name="description" content="">
	<meta name="author" content="">

   <!-- mobile specific metas
   ================================================== -->
	<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">

 	<!-- CSS
   ================================================== -->
   <link rel="stylesheet" href="http://localhost:88/PersonalUAB/view/libs/css/base.css">
   <link rel="stylesheet" href="http://localhost:88/PersonalUAB/view/libs/css/main.css">
   <link rel="stylesheet" href="http://localhost:88/PersonalUAB/view/libs/css/vendor.css">

   <!-- script
   ================================================== -->
	<script src="http://localhost:88/PersonalUAB/view/libs/js/modernizr.js"></script>

  <link rel="icon" type="image/png" href="http://localhost:88/PersonalUAB/view/libs/multimedia/img/design/uab.png">

</head>

<body>

	<!-- header
   ================================================== -->
   <header class="main-header">
     <div class="row">
   		  <div class="logo">
	        <a href="http://localhost:88/PersonalUAB/"> <img src="http://localhost:88/PersonalUAB/view/libs/multimedia/img/design/uab.png" width="100" hight="100" alt="uab"> Quatro</a>
	      </div>
   	  </div>
     <a class="menu-toggle" href="#"><span>Menu</span></a>
   </header> <!-- /header -->

   <!-- navigation
   ================================================== -->
   <nav id="menu-nav-wrap">

   	<h5>Links Personal-UAB</h5>
		<ul class="nav-list">
			<li><a href="http://localhost:88/PersonalUAB/" title="">Personal UAB</a></li>
			<li><a href="http://localhost:88/PersonalUAB/#about" title="">Mision y Vision</a></li>
		</ul>

		<h5>Ayuda</h5>
		<p>Lo sentimos ha ocurrido un Error.</p>

	</nav>

	<!-- main content
   ================================================== -->
   <main id="main-404-content" class="main-content-particle-js">

   	<div class="content-wrap">

		   <div class="shadow-overlay"></div>

		   <div class="main-content">
		   	<div class="row">
		   		<div class="col-twelve">

			  			<h1 class="kern-this">Error.</h1>
			  			<p>
    						OOPS ah ocurrido un ERROR interno disculpenos por las molestias.
			  			</p>

			   	</div> <!-- /twelve -->
		   	</div> <!-- /row -->
		   </div> <!-- /main-content -->

		   <footer>
		   	<div class="row">

		  			<div class="col-five tab-full bottom-links">
			   		<ul class="links">
				   		<li><a href="http://www.uab.edu.bo/">UAB</a></li>
				         <li><a href="http://localhost:88/PersonalUAB">Personal-UAB</a></li>
				         <li><a href="http://finanzas.uab.edu.bo:9095/">Sistema Académico-UAB</a></li>
				   	</ul>

				   	<div class="credits">
				   		<p><strong><i>HELP!</i></strong> Design by <a href="https://www.facebook.com/gustavo.cerezo1" title="CRGT">CRGT</a> <strong>AND</strong> <a href="https://www.facebook.com/rodrigo.poma1" title="RYGO">RYGO</a></p>
				   	</div>
			   	</div>

		   	</div> <!-- /row -->
		   </footer>

		</div> <!-- /content-wrap -->

   </main> <!-- /main-404-content -->

   <div id="preloader">
    	<div id="loader"></div>
   </div>

   <!-- Java Script
   ================================================== -->
   <script src="http://localhost:88/PersonalUAB/view/libs/js/jquery-2.1.3.min.js"></script>
   <script src="http://localhost:88/PersonalUAB/view/libs/js/plugins.js"></script>
   <script src="http://localhost:88/PersonalUAB/view/libs/js/main.js"></script>

</body>

</html>
